.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    flex-direction:column;
    max-height: 100vh;
}

.cards img{
    margin: 10px;
    border: 3px solid black;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    max-width: 30vw;
}